[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyyaml = "*"
slackclient = "*"
install = "*"
fakerpi = {git = "https://github.com/sn4k3/FakeRPi"}

[requires]
python_version = "3.8"
